 .u-section-1 {
  background-image: url("images/IMG_23052.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 164px;
  width: 358px;
  margin: 80px 13px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 155px;
  width: 358px;
  margin: -164px 13px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 9px 11px 0 360px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 11px 0 556px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  margin: 0 11px 0 556px;
}

.u-section-1 .u-image-2 {
  width: 165px;
  height: 164px;
  margin: 11px 11px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 557px;
  margin: 11px 13px 44px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 437px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-map-1 {
  transition-duration: 3s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 23.29% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 367px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 367px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 147px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 267px;
  }
}

.u-section-1 .u-map-1,
.u-section-1 .u-map-1:before,
.u-section-1 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-map-1.u-map-1.u-map-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  opacity: 0.75 !important;
  transform: scale(0.9) !important;
}

.u-section-1 .u-map-1.u-map-1.u-map-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  opacity: 0.75 !important;
  transform: scale(0.9) !important;
}

.u-section-1 .u-container-layout:hover .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}